body {
    text-align: center;
    font-family: 'happy-monkey', cursive, sans-serif;
    color: #ffffff;
    background: linear-gradient(#a2d2ff, #EFB0C9);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bday-age {
    background: #EFB0C9;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 3px 8px;
    border-radius: 5px;
}

h1, h2, h3, h4 {
    text-shadow: 0 0 1px black;
}

#pic {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

.gift-section {
    margin-top: 55px;
}

.helga {
    margin-bottom: 10px;
}

.helga-hover {
    margin-top: 0;
}

#helga-gift {
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 0 auto 50px auto;
    background-image: url(images/giftbox.PNG);
    background-size: 440px;
    background-position: center;
}

#helga-gift:hover {
    background-image: url(images/helga.gif);
    background-size: cover;
}

#helga-walk {
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 20px auto 50px auto;
    background-image: url(images/giftbox.PNG);
    background-size: 440px;
    background-position: center;
}

#helga-walk:hover {
    background-image: url(images/walk.gif);
    background-size: cover;
}

#helga-smile {
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 20px auto 50px auto;
    background-image: url(images/giftbox.PNG);
    background-size: 440px;
    background-position: center;
}

#helga-smile:hover {
    background-image: url(images/smile.gif);
    background-size: cover;
}

#helga-wed {
    width: 400px;
    height: 300px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 20px auto 50px auto;
    background-image: url(images/death.png);
    background-size: 430px;
    background-position: center;
}

#helga-wed:hover {
    background-image: url(images/wedding.gif);
}
.aqui {
    border: 20px;
}

a {
    color: #a2d2ff;
}

.footer {
    font-style: italic;
}